@page "/clients/edit/{Id:int}"
@using ClientOrders.Core
@using ClientOrders.Infrastructure
@inject AppDbContext Context
@inject NavigationManager Nav

@inject ISnackbar Snackbar
@inject IDialogService DialogService


<h3>ClientsEdit</h3>

@if(client == null)
{
    <p>Loading...</p>
}
else
{
   
    <MudTextField @bind-Value="client.Name"
       Label ="Client Name"
    Required="true"
    Immediate="true"
    class="mb-4" />


    
        
    
    <br/>
    @if (!string.IsNullOrWhiteSpace(error))
    {
        <p style="color:red">@error</p>
    }
   

    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Save" Disabled="@IsIivalid">
        Save
    </MudButton>
    <MudButton Variant="Variant.Outlined" Color="Color.Secondary" OnClick="Cancel" Class ="ml-2">
        Cancel
    </MudButton> 
    
    <h4>Orders</h4>

    <MudTextField @bind-Value="newOrderTitle"
    Label ="Order Title"
    Required="true"
    Class="mb-2"
    />

    <MudTextField  @bind-Value="newOrderDescription"
    Label="Order Description"
    Required="true"
    Class="mb-2"
    />
    <InputFile OnChange="OnImageSelected" accept="image/*" />
    <MudTextField Label="Order Image URL"
                  @bind-Value="newOrderImageUrl"
                  Placeholder="https://..."
                  Variant="Variant.Outlined"
                  FullWidth="true"
                  Class="mb-2" />


    <MudButton Variant="Variant.Filled" 
    Color="Color.Primary"
    Disabled="@string.IsNullOrWhiteSpace(newOrderTitle)"
    OnClick="AddOrder">
        Add Order
    </MudButton>

    @if (client.Orders.Any())
    {
    <MudTable Items="client.Orders" Hover="true" Danse="true" Class="mt-2">
        <HeaderContent>
        <MudTh>Title</MudTh>
        <MudTh>Description</MudTh>
        <MudTh>Created At</MudTh>
            </HeaderContent>
            <RowTemplate>
            <MudTd>@context.Title</MudTd>
            <MudTd>@context.Description</MudTd>
            <MudTd>@context.CreatedAt.ToString("g")</MudTd>


                <MudTd>
                    @if (!string.IsNullOrWhiteSpace(context.ImageUrl))
                    {
                        <MudImage Src="@context.ImageUrl" Alt="Order Image" Width="100" />
                    }
                </MudTd>
            <MudTd Align="Align.Right">
                <MudIconButton Icon="@Icons.Material.Filled.Delete"
                Color="Color.Error"
                OnClick="@(()=> ConfirmDeleteOrder(context))"/>
            </MudTd>
            </RowTemplate>
    </MudTable>
    }
    else
    {
        <MudAlert Severity="Severity.Info" Variant="Variant.Outlined">
            This client has no orders yer. Add one above

        </MudAlert>
    }
}

@code {
    private string? error;
    private string newOrderTitle = string.Empty;
    private string newOrderDescription = string.Empty;
    private string newOrderImageUrl = string.Empty;
    private IBrowserFile? uploadedImage;

    private bool IsIivalid => string.IsNullOrWhiteSpace(client?.Name);
    [Parameter]
    public int Id { get; set; }
    private Client? client;

    protected override async Task OnInitializedAsync()
    {
        //client = await Context.Clients.FindAsync(Id);
        client = await Context.Clients
        .Include(c => c.Orders)
        .FirstOrDefaultAsync(c => c.Id == Id);
    }
    private async Task Save()
    {
        if (string.IsNullOrWhiteSpace(client?.Name))
        {
            error = "Client name is required.";
            return;
        }
        error = null;
        await Context.SaveChangesAsync();
        Snackbar.Add("Client saved", Severity.Success);
        Nav.NavigateTo("/clients");
    }
    private void Cancel()
    {
        Nav.NavigateTo("/clients");
    }



    private async Task AddOrder()
    {
        if(client is null || string.IsNullOrWhiteSpace(newOrderTitle))
            return;

        string? imageUrl = newOrderImageUrl;
        if(uploadedImage != null)
        {
            var uploads = Path.Combine(
                Directory.GetCurrentDirectory(),
                "wwwroot/uploads/orders"
            );
            Directory.CreateDirectory(uploads);

            var fileName = $"{Guid.NewGuid()}{Path.GetExtension(uploadedImage.Name)}";
            var filePath = Path.Combine(uploads, fileName);
            await using var fs = new FileStream(filePath, FileMode.Create);
            await uploadedImage.OpenReadStream(5_000_000).CopyToAsync(fs);
            imageUrl = $"/uploads/orders/{fileName}";

        }
        client.Orders.Add(new Order
            {
                Title = newOrderTitle,
                Description = newOrderDescription,
            //ImageUrl = newOrderImageUrl,
                ImageUrl = imageUrl,
                CreatedAt = DateTime.Now
            });

        await Context.SaveChangesAsync();

        uploadedImage = null;
        newOrderTitle = string.Empty;
        newOrderDescription = string.Empty;
        newOrderImageUrl = string.Empty;

        Snackbar.Add("Order added", Severity.Success);
    }

    private void OnImageSelected(InputFileChangeEventArgs e)
    {
        uploadedImage = e.File;
    }
    /*
     * @inject IJSRuntime JS
    * 
    *  private async Task ConfirmDeleteOrder(Order order)
    {
        if (order == null)
            return;
        var confirmed = await JS.InvokeAsync<bool>("confirm", $"Delete order '{order.Title}'?");
        if (!confirmed) return;

        client?.Orders.Remove(order);
        Context.Orders.Remove(order);
        await Context.SaveChangesAsync();
    Snackbar.Add("Order deleted", Severity.Info);
    }
   */
    private async Task ConfirmDeleteOrder(Order order)
    {
        var parameters = new DialogParameters
        {
            ["ContentText"] = $"Delete Order '{order.Title}'?"
        };

        var dialog = DialogService.Show<ConfirmDialog>(
            "Confirm delete",
            parameters);

        var result = await dialog.Result;

        if (result.Canceled)
            return;

        client?.Orders.Remove(order);
        Context.Orders.Remove(order);
        await Context.SaveChangesAsync();
        Snackbar.Add("Order deleted", Severity.Info);
    }
}
